---
platform: linux

image_resource:
  type: registry-image
  source:
    repository: platforminsightsteam/base-ci-image

inputs:
- name: binary

run:
  path: bash
  args:
  - -c
  - |
    set -e

    chmod +x ./binary/telemetry-collector-linux-amd64
    ./binary/telemetry-collector-linux-amd64 --version

    gcloud auth activate-service-account --key-file <(echo "$GCP_SERVICE_ACCOUNT_KEY")
    gcloud config set project "$GCP_PROJECT_ID"

    gcloud compute scp binary/telemetry-collector-linux-amd64 not-root@"$GCP_INSTANCE_NAME":/tmp --zone "$GCP_ZONE" --quiet

    command_string="cd /tmp &&
      mkdir /tmp/foundation_collection &&
      ./telemetry-collector-linux-amd64 collect --env-type development --with-credhub-info --url $OPS_MANAGER_URL --username $OPS_MANAGER_USERNAME --password $OPS_MANAGER_PASSWORD --insecure-skip-tls-verify --output-dir /tmp/foundation_collection &&
      rm -rf /tmp/foundation_collection"
    gcloud compute ssh not-root@"$GCP_INSTANCE_NAME" --zone "$GCP_ZONE" --command "$command_string" --quiet


params:
  GCP_SERVICE_ACCOUNT_KEY:
  GCP_PROJECT_ID:
  GCP_INSTANCE_NAME:
  GCP_ZONE:
  OPS_MANAGER_URL:
  OPS_MANAGER_USERNAME:
  OPS_MANAGER_PASSWORD:
